<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Cocoon -Portfolio">
    <meta name="keywords" content="Cocoon , Portfolio">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Pernu</title>
    <link href="assets/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="assets/css/et-line.css" type="text/css" rel="stylesheet">
    <link href="assets/css/ionicons.min.css" type="text/css" rel="stylesheet">
    <link href="assets/css/slick.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="assets/css/animate.min.css">
    <link href="assets/css/main.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <div class="body-container container-fluid"><a class="menu-btn" href="javascript:void(0)"><i class="ion ion-grid"></i></a>
      <div class="row justify-content-center">
        <div class="col-lg-2 col-md-3 col-12 menu_block">
          <div class="logo-box"><a href="index.html"><img src="images/logoPav.png" alt="alt"></a></div>
          <div class="side_menu_section">
            <ul class="menu_nav">
              <li><a href="index.html">Inicio</a></li>
              <li><a href="unirse.html">Iniciar Sesión</a></li>
              <li><a href="acerca">Acerca</a></li>
            </ul>
          </div>
          <div class="side_menu_section">
            <h4 class="side_title">filtrar por</h4>
            <ul class="filter_nav" id="filtr-container">
              <li class="active" data-filter="*"><a href="javascript:void(0)">Todo</a></li>
              <li data-filter=".branding"><a href="javascript:void(0)">Branding</a></li>
              <li data-filter=".design"><a href="javascript:void(0)">Diseño</a></li>
              <li data-filter=".photography"><a href="javascript:void(0)">Fotografía</a></li>
              <li data-filter=".architecture"><a href="javascript:void(0)">Arquitectura</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-10 col-md-9 col-12 body_block  align-content-center">
          <div class="portfolio gutters grid img-container">
            <div class="grid-sizer col-sm-12 col-md-6 col-lg-3"></div>
                        <div class="grid-item  photography col-sm-12 col-md-6 col-lg-3"><a href="assets/img/portfolio/port11.png">
                            <div class="project_box_one"><img src="assets/img/portfolio/port11.png">
                              <div class="product_info">
                                <div class="product_info_text">
                                  <div class="product_info_text_inner"><i class="ion ion-plus"></i>
                                    <h4>photography</h4>
                                  </div>
                                </div>
                              </div>
                            </div></a></div>
                        <div class="grid-item  photography col-sm-12 col-md-6 col-lg-3"><a href="assets/img/portfolio/port4.png">
                            <div class="project_box_one"><img src="assets/img/portfolio/port4.png">
                              <div class="product_info">
                                <div class="product_info_text">
                                  <div class="product_info_text_inner"><i class="ion ion-plus"></i>
                                    <h4>photography</h4>
                                  </div>
                                </div>
                              </div>
                            </div></a></div>
                        <div class="grid-item  photography col-sm-12 col-md-6 col-lg-3"><a href="assets/img/portfolio/port7.png">
                            <div class="project_box_one"><img src="assets/img/portfolio/port7.png">
                              <div class="product_info">
                                <div class="product_info_text">
                                  <div class="product_info_text_inner"><i class="ion ion-plus"></i>
                                    <h4>photography</h4>
                                  </div>
                                </div>
                              </div>
                            </div></a></div>
                        <div class="grid-item  branding col-sm-12 col-md-6 col-lg-3"><a href="assets/img/portfolio/port10.png">
                            <div class="project_box_one"><img src="assets/img/portfolio/port10.png">
                              <div class="product_info">
                                <div class="product_info_text">
                                  <div class="product_info_text_inner"><i class="ion ion-plus"></i>
                                    <h4>branding</h4>
                                  </div>
                                </div>
                              </div>
                            </div></a></div>
                        <div class="grid-item  branding col-sm-12 col-md-6 col-lg-3"><a href="assets/img/portfolio/port5.png">
                            <div class="project_box_one"><img src="assets/img/portfolio/port5.png">
                              <div class="product_info">
                                <div class="product_info_text">
                                  <div class="product_info_text_inner"><i class="ion ion-plus"></i>
                                    <h4>branding</h4>
                                  </div>
                                </div>
                              </div>
                            </div></a></div>
                        <div class="grid-item  branding col-sm-12 col-md-6 col-lg-3"><a href="assets/img/portfolio/port8.png">
                            <div class="project_box_one"><img src="assets/img/portfolio/port8.png">
                              <div class="product_info">
                                <div class="product_info_text">
                                  <div class="product_info_text_inner"><i class="ion ion-plus"></i>
                                    <h4>branding</h4>
                                  </div>
                                </div>
                              </div>
                            </div></a></div>
                        <div class="grid-item  design col-sm-12 col-md-6 col-lg-3"><a href="assets/img/portfolio/port3.png">
                            <div class="project_box_one"><img src="assets/img/portfolio/port3.png">
                              <div class="product_info">
                                <div class="product_info_text">
                                  <div class="product_info_text_inner"><i class="ion ion-plus"></i>
                                    <h4>design</h4>
                                  </div>
                                </div>
                              </div>
                            </div></a></div>
                        <div class="grid-item  architecture col-sm-12 col-md-6 col-lg-3"><a href="assets/img/portfolio/port9.png">
                            <div class="project_box_one"><img src="assets/img/portfolio/port9.png">
                              <div class="product_info">
                                <div class="product_info_text">
                                  <div class="product_info_text_inner"><i class="ion ion-plus"></i>
                                    <h4>architecture</h4>
                                  </div>
                                </div>
                              </div>
                            </div></a></div>
                        <div class="grid-item  architecture  col-md-6 col-lg-3"><a href="assets/img/portfolio/port2.png">
                            <div class="project_box_one"><img src="assets/img/portfolio/port2.png">
                              <div class="product_info">
                                <div class="product_info_text">
                                  <div class="product_info_text_inner"><i class="ion ion-plus"></i>
                                    <h4>Prueba2</h4>
                                  </div>
                                </div>
                              </div>
                            </div></a></div>
                        <div class="grid-item  architecture col-sm-12 col-md-6 col-lg-3"><a href="assets/img/portfolio/port6.png">
                            <div class="project_box_one"><img src="assets/img/portfolio/port6.png">
                              <div class="product_info">
                                <div class="product_info_text">
                                  <div class="product_info_text_inner"><i class="ion ion-plus"></i>
                                    <h4>architecture</h4>
                                  </div>
                                </div>
                              </div>
                            </div></a></div>
          </div>
        </div>
      </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/imgloaded.js"></script>
    <script src="assets/js/isotope.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/slick.min.js"></script>
  </body>
</html>