extends template/templateCargadoImagen
block content
    .contenedor
        .parteDerecha#formulario
            .bloqueCargadoImagen
                .areaCarga Arrastre el documento o imagen aquí =P
                button.botonModificar Seleccionar Archivo
            .barraSiguiente
                .boton#botonInvisible
                .boton#siguiente Siguiente