extends template/templateIndex
block content
    .bloque 
        .titulo Bienvenidos
        .descripcionDelTitulo 
            :markdown-it
                Bienvenidos a la tienda virtual Pernu.
        .bloqueInvisible
    .bloque 
        .titulo Tienda
        .descripcionDelTitulo 
            :markdown-it
                Echale un vistazo a los productos
        .bloqueInvisible
    .bloque
        .titulo Iniciar Sesión
        .descripcionDelTitulo 
            :markdown-it
                Lo necesitas para poder comprar productos
        .bloqueInvisible
    .bloque
        .titulo Acerca
        .descripcionDelTitulo 
            :markdown-it
                Aquí está el correo por si necesitas realizar una consultar
        .bloqueInvisible