doctype
html(lang='en')
head
<!--========== Meta Tags ========== -->
    meta(charset="UTF-8")
    meta(name="description" content="Cocoon -Portfolio")
    meta(name="keywords" content="Cocoon , Portfolio")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
<!-- ========== Title ========== -->
    <title>PVA</title>
<!--<link rel="icon" href="fav.ico">-->
<!-- Custom styles for this template -->
link(href="assets/css/main.css")
link(href="assets/css/main.css" rel="stylesheet")
link(href="assets/css/bootstrap.min.css" rel="stylesheet")
link(rel ="stylesheet" href="assets/css/magnific-popup.css")
link(href="assets/css/slick.css" rel="stylesheet")