@import "config/paletaColores.scss";
@font-face {
    font-family: 'volaroid_scriptregular';
    src: url('fonts/volaroid_script-webfont.woff2') format('woff2'),
         url('fonts/volaroid_script-webfont.woff') format('woff');
  }

  @font-face {
    font-family: 'maxwell_boldregular';
    src: url('fonts/maxwell_bold-webfont.woff2') format('woff2'),
         url('fonts/maxwell_bold-webfont.woff') format('woff');
         font-weight: normal;
         font-style: normal;
         
        }
@import "modules/nav.scss";
@import "modules/cuerpoIndex.scss";
