.contenedor
    .parteDerecha#formulario
        .blocContenido
            .titularUnirse 
                :markdown-it
                    ¡Muchas Gracias!
            .descripcionUnirse 
                :markdown-it
                    Te avisaremos por correo cuando hayamos subido tu imagen
            .barraSiguiente
                .boton Iniciar sesión Google
                .boton#siguiente Siguiente
        

        