mixin bloqueInput(texto, texto2)
    .bloqueInput
        .contenedorInput
            .parrafoInput
                p= texto
            input(type="text", name="")
        .contenedorInput
            .parrafoInput
                p= texto2
            input(type="text", name="")