.contenedor
    .parteDerecha#formulario
        .blocContenido
            .titularUnirse 
                :markdown-it
                    Participa subiendo tu imagen con el lugar\
                    donde crecerá la planta
            .descripcionUnirse 
                :markdown-it
                    Solamente necesitas de la imagen.
                    Si eres menor de edad, necesitamos
                     que añadas un permiso de tu padre 
                     en el formato pdf o word
            .barraSiguiente
                .boton Iniciar sesión Google
                .boton#siguiente Siguiente
        

        