<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
            <!-- ========== Favicon Ico ========== -->
<!--<link rel="icon" href="fav.ico">-->
<!-- ========== STYLESHEETS ========== -->
<!-- Bootstrap CSS -->
    <link href="../../cocoon-master/assets/css/bootstrap.min.css" type="css/text" rel="stylesheet">
<!-- Fonts Icon CSS -->
    <link href="../../cocoon-master/assets/css/font-awesome.min.css" type="css/text"  rel="stylesheet">
    <link href="../../cocoon-master/assets/css/et-line.css" type="css/text"  rel="stylesheet">
    <link href="../../cocoon-master/assets/css/ionicons.min.css" type="css/text"  rel="stylesheet">
<!-- Magnific-popup -->
    <link rel="stylesheet" type="css/text"  href="../../cocoon-master/assets/css/magnific-popup.css">
<!-- Animate CSS -->
    <link rel="stylesheet"  type="css/text" href="../../cocoon-master/assets/css/animate.min.css">
<!-- Custom styles for this template -->
    <link href="../../cocoon-master/assets/css/main.css" type="css/text"  rel="stylesheet">
    body
        header 
            nav
                ul
                    a(href="index.html")
                        img(src="images/logoPav.png", alt="alt")
                    li: a(href="unirse.html") Unirse
                    li: a(href="comunidad.html") Comunidad
                    li: a(href="acerca.html") Acerca
    block content