extends modules/_menu
append columnaDeIzquierda
    div(class="portfolio gutters grid img-container")
        div(class="grid-sizer col-sm-12 col-md-6 col-lg-3")
        include modules/_photos
        +fotoContenedor("grid-item  photography col-sm-12 col-md-6 col-lg-3", "port11.png", "photography")
        +fotoContenedor("grid-item  photography col-sm-12 col-md-6 col-lg-3", "port4.png", "photography")    
        +fotoContenedor("grid-item  photography col-sm-12 col-md-6 col-lg-3", "port7.png", "photography")
        
        +fotoContenedor("grid-item  branding col-sm-12 col-md-6 col-lg-3", "port10.png", "branding")
        +fotoContenedor("grid-item  branding col-sm-12 col-md-6 col-lg-3", "port5.png", "branding")
        +fotoContenedor("grid-item  branding col-sm-12 col-md-6 col-lg-3", "port8.png", "branding")

        +fotoContenedor("grid-item  design col-sm-12 col-md-6 col-lg-3", "port3.png", "design")

        +fotoContenedor("grid-item  architecture col-sm-12 col-md-6 col-lg-3", "port9.png", "architecture")
        +fotoContenedor("grid-item  architecture  col-md-6 col-lg-3", "port2.png", "Prueba2")
        +fotoContenedor("grid-item  architecture col-sm-12 col-md-6 col-lg-3", "port6.png", "architecture")
        