<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Pernu</title>
    <link rel="stylesheet" href="css/unirseMain.css"/>
  </head>
  <body>
    <header> 
      <nav>
        <ul><a href="index.html"><img src="images/logoPav.png" alt="alt"/></a>
          <li><a href="comunidad.html">Tienda</a></li>
          <li><a href="acerca.html">Acerca</a></li>
        </ul>
      </nav>
    </header>
    <div class="contenedor">
      <div class="parteDerecha" id="formulario">
        <div class="blocContenido">
          <div class="titularUnirse">
             <p>¡Muchas Gracias!</p>

          </div>
          <div class="descripcionUnirse">
             <p>Te avisaremos por correo cuando hayamos subido tu imagen</p>

          </div>
          <div class="barraSiguiente">
            <div class="boton">Iniciar sesión Google</div>
            <div class="boton" id="siguiente">Siguiente</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>