.blocContenido{
    display: flex;
    margin: auto;
    width: 90%;
    flex-direction: column;
    height: 80%;
    text-align: center;
}

.titularUnirse, .descripcionUnirse, .barraSiguiente{
    flex: 1;
    background-color: $brown;
    color: white
}

.titularUnirse{
    font-size: 3em;
}

.descripcionUnirse{
    font-size: 2em;
}


@import "modules/barraSiguiente.scss"


