extends template/templateIndex
block content
    .bloque 
        .titulo Bienvenidos
        .descripcionDelTitulo 
            :markdown-it
                Bienvenidos a plantando plantas virtuales. Este sitio ha sido
                creado con el fin de promocionar el cultivos en nuestra comunidad educativa. 
                Sientete cómodo de navegar por la web
        .bloqueInvisible
    .bloque 
        .titulo Comunidad
        .descripcionDelTitulo 
            :markdown-it
                En la comunidad podràs ver todas las personas que han decidido
                unirse a este proyecto.
        .bloqueInvisible
    .bloque
        .titulo Unirse
        .descripcionDelTitulo 
            :markdown-it
                Es fácil y sencillo unirse, 
                si quieres más información, ve al apartado especifico.

        .bloqueInvisible
    .bloque
        .titulo Acerca
        .descripcionDelTitulo 
            :markdown-it
                Si quieres conocer quienes ha estado detrás de este proyecto, puedes echarle un vistazo a este apartado. También está el correo por si necesitas realizar una consultar
        .bloqueInvisible