
@font-face {
    font-family: 'volaroid_scriptregular';
    src: url('fonts/volaroid_script-webfont.woff2') format('woff2'),
         url('fonts/volaroid_script-webfont.woff') format('woff');
  }
    

a{
    text-decoration: none;
    color: inherit
}

ul{
    display: flex;
    justify-content: flex-end;
    background: $banana ;
    margin: 0 0;
    align-items: center;
    height: 25%;
}

li{
    color: $brown;
    margin: 0 25px;
    list-style-type: none;
    font: {
        family: 'volaroid_scriptregular'; 
    }
}

a, img{
    width: 60px;
    margin-right: auto;
    margin-left: -15px;
    
}